{{ define "main" -}}
{{ .Content }}
    {{ range .Site.Data.publications }}
    {{ with .submitted }}
    <h1>Submitted Work</h1>
    {{ range . }}
    <p>
        <strong>{{ .title }}</strong><br>
        {{ delimit ( apply .authors "replace" "." "S. Padhee" "<b><em>S. Padhee</em></b>" ) ", " }}<br>
    </p>
    {{ end }}
    {{ end }}
    {{ with .working }}
    <h1>Working Paper</h1>
    {{ range . }}
    <p>
        <strong>{{ .title }}</strong><br>
        {{ delimit ( apply .authors "replace" "." "S. Padhee" "<b><em>S. Padhee</em></b>" ) ", " }}<br>
    </p>
    {{ end }}
    {{ end }}
    {{ with .conference }}
    <h1>Conference Paper Presentations</h1>
    {{ range . }}
    <p>
        <strong>{{ .title }}</strong><br>
        {{ if .authors }}
        {{ delimit ( apply .authors "replace" "." "S. Padhee" "<b><em>S. Padhee</em></b>" ) ", " }}<br>
        {{ end }}
        {{ .location }}<br>
        {{ .date }}<br>
    </p>
    {{ end }}
    {{ end }}
    {{ with .another }}
    <h1>Publications from Another Avatar</h1>
    {{ range . }}
    <p>
        <strong>{{ .title }}</strong><br>
        {{ if .authors }}
        {{ delimit ( apply .authors "replace" "." "S. Padhee" "<b><em>S. Padhee</em></b>" ) ", " }}<br>
        {{ end }}
        {{ .location }}<br>
        {{ .date }}<br>
    </p>
    {{ end }}
    {{ end }}
{{ end }}
{{- end }}
